In [1]:
import numpy as np
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("heart.csv")

In [3]:
df.shape

(1025, 14)

In [4]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [5]:
df.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
5,58,0,0,100,248,0,0,122,0,1.0,1,0,2,1
6,58,1,0,114,318,0,2,140,0,4.4,0,3,1,0
7,55,1,0,160,289,0,0,145,1,0.8,1,1,3,0
8,46,1,0,120,249,0,0,144,0,0.8,2,0,3,0
9,54,1,0,122,286,0,0,116,1,3.2,1,2,2,0

In [6]:
pipeline = Pipeline([
    ("preprocess", StandardScaler())
])

In [7]:
X = df.drop(["target"], axis = 1)
y = df["target"]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.8, shuffle = True, random_state = 42)

# Preparing the Data

In [9]:
X_train = pipeline.fit_transform(X_train).T
X_test = pipeline.fit_transform(X_test).T
y_train = y_train.values.reshape(1, -1)
y_test = y_test.values.reshape(1, -1)

# Dimensions

In [10]:

print("Training Data")
print("-------------")
print(f"X = {X_train.shape}")
print(f"y = {y_train.shape}")
print() 
print("-------------")
print("Test Data")
print("-------------")
print(f"X = {X_test.shape}")
print(f"y = {y_test.shape}")

Training Data
-------------
X = (13, 820)
y = (1, 820)

-------------
Test Data
-------------
X = (13, 205)
y = (1, 205)

# Initialise Parameters

In [11]:
def initilaise_parameters(n_h, n_n, n_y):
    np.random.seed(1)
    W1 = np.random.randn(n_h, n_n)*0.01
    b1 = np.zeros((n_h, 1))
    W2 = np.random.randn(n_y, n_h)*0.01
    b2 = np.zeros((n_y,1))
    
    return {'W1': W1, 'W2': W2, 'b1': b1, 'b2': b2}

# Activation Function

In [12]:
def sigmoid(Z):
    
    return 1/(1+(np.exp(-Z)))

# Forward Propogation

In [13]:
def forward_propagation(X, parameters):
    W1, b1, W2, b2 = parameters['W1'], parameters['b1'], parameters['W2'], parameters['b2']
    
    Z1 = np.dot(W1, X) + b1
    A1 = sigmoid(Z1)
    
    Z2 = np.dot(W2, A1) + b2
    A2 = sigmoid(Z2)
    
    cache = {'Z1': Z1, 'A1': A1, 'Z2': Z2, 'A2': A2}
    
    return A2, cache

# Compute Loss

In [14]:
def compute_loss(A2, y):
    
    m = y.shape[1]
    loss = (-1/m)*np.sum((y* np.log(A2)) +((1-y)* np.log(1 - A2)))
    
    return loss

# Back Propagation

In [19]:
def back_propagation(X, y, parameters, cache):
    m = X.shape[1]
    
    W2 = parameters["W2"]
    
    A1, A2 = cache["A1"], cache["A2"]
    
    dZ2 = A2 - y
    dW2 = (1/m)*np.dot(dZ2, A1.T)
    db2 = (1/m)*np.sum(dZ2, axis = 1, keepdims= True)
    
    dA1 = np.dot(W2.T, dZ2)
    dZ1 = dA1 *A1 *(1 -A1)
    dW1 = (1/m)*np.dot(dZ1, X.T)
    db1 = (1/m)*np.sum(dZ1, axis = 1, keepdims = True)
    
    gradients = {"dW1": dW1, "db1": db1, "dW2": dW2, "db2": db2}
    
    return gradients

# Update Parameters

In [23]:
def update_parameters(learning_rate, gradients, parameters):
    parameters["W1"] -= learning_rate * gradients["dW1"]
    parameters['b1'] -= learning_rate * gradients["db1"]
    parameters['W2'] -= learning_rate * gradients["dW2"]
    parameters['b2'] -= learning_rate * gradients["db2"]
    
    return parameters

# Train Model

In [26]:
def train(X, y, n_h = 4, learning_rate = 0.01, num_epochs = 1000):
    np.random.seed(1)
    
    n_n = X.shape[0]
    n_y = y.shape[0]
    
    parameters = initilaise_parameters(n_h, n_n, n_y)
    
    losses = []

    
    for i in range(num_epochs):
        A2, cache = forward_propagation(X, parameters)
        loss = compute_loss(A2, y)
        
        gradients = back_propagation(X, y, parameters, cache)
        parameters = update_parameters(learning_rate, gradients, parameters)
        
        if (i % 100) == 0:
            losses.append(loss)
            print(f"Epoch {i}: Loss = {loss:.4f}")
            
    return parameters, losses

In [27]:
parameters, losses = train(X_train, y_train, n_h = 4, learning_rate = 0.01, num_epochs = 1000)

Epoch 0: Loss = 0.6933
Epoch 100: Loss = 0.6929
Epoch 200: Loss = 0.6928
Epoch 300: Loss = 0.6927
Epoch 400: Loss = 0.6927
Epoch 500: Loss = 0.6927
Epoch 600: Loss = 0.6926
Epoch 700: Loss = 0.6926
Epoch 800: Loss = 0.6926
Epoch 900: Loss = 0.6925

# Prediction

In [29]:
def predict(X, parameters):
    A2, _ = forward_propagation(X, parameters)
    return (A2>0.5).astype(int)

In [32]:
y_pred = predict(X_test, parameters)
accuracy = np.mean(y_pred == y_test)
accuracy

0.5024390243902439